// ==========================================================================
// Banner
// ==========================================================================
.banner {
  // height: 100%;
  background: url(../img/books.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

  @include mq(small) {
    padding-bottom: em(40px);
  }

  @include m(content) {
    height: 100%;

    // border-bottom: 2px solid palette(grey, x-dark);
  }

  &--content__item--image {
    @extend %vertical-align__parent;
    height: 100%;
    text-align: right;
    padding-right: percentage(1/24);

    @include mq(small) {
      display: none;
    }

    img {
      @extend %vertical-align__child;

      @include mq(medium) {
        top: 40%;
      }
    }


  }

  &--content__item--text{
    @extend %vertical-align__parent;
    height: 80%;


    @include mq(medium) {
      padding-left: percentage(1/24);
    }

    @include mq(large) {
      padding-top: 10%;
    }

    
    

    div {
      @extend %vertical-align__child;
      @include mq(medium) {
        top: 55%;
      }
      @include mq(small) {
        padding-top: 10%;
      }
    }

  }
  
  h1 {
    font-family: $font-family--accent;
    line-height: em(20px);

    span {
      font-weight: 600;
      font-size: 180%;
      font-family: $font-family--primary;
      line-height: em(18px);
      color: palette(grey, xx-dark);

      b {
        font-family: $font-family--accent;
        font-size: em(17px);
      }
    }
    
    // line-height: em(5px);
  }

  h2 {
    font-size: em(20px);
    margin-top: -16px;

    @include mq(medium) {
      font-size: em(24px);
      margin-top: -20px;
    }
  }

  button {
    margin-bottom: 0;
  }

}



// ==========================================================================
// Description: How it works
// ==========================================================================
.description {
  text-align: center;

  // @extend %vertical-align__parent;

  @include mq(medium) {
    // height: 90%;
  }

  @include m(content) {
    // @extend %vertical-align__child;
    @include m(text) {
      padding-top: em(20px);
    }
  }

  button {
    margin-top: em(15px);
  }

  h1 {
    margin-top: em(36px);
    margin-bottom: em(24px);
  }

  #front-browselibrary {
    .categories-icn {
      @include flexbox();
      flex-wrap: wrap;
      justify-content: center;

      div {
        @include flex(0 200px);
      }
    }
    a h2 {
      margin-bottom: em(30px);
      margin-top: em(10px);
    }
  }
}



