

.library {
  @include e(category) {
    padding-right: em(20px);

    @include e(content) {
      @include mq(small) {
        z-index: 300;
        width: 92%;

        h4 {
          margin-top: 0;
        }
      }
    }


    h4 {
      margin-bottom: 0;
      padding: em(20px);
      background: $color-primary;
      color: $white;
    }

    .category-menu {
      @include mq(small) {
        @include flexbox();
        flex-wrap: wrap;
        width: 100%;
        background: $white;
      }
    }

    .side-menu-toggle {
      h4 {
        display: inline;
        padding: em(5px);
        border-radius: $br--default;
        cursor: pointer;
      }

      & ~ div {
        @include mq(small) {
          display: none;
        }
        
      }
    }

    .side-menu-toggle--active {
      
      h4 {
        display: block;
        padding: em(20px);
        border-radius: 0;
        width: 100%;

      }

      & ~ div {
        display: block;
        border: 2px solid $color-primary;
      }
    }


    .category-menu__item {
      padding: em(8px) em(10px);

      &:first-child,
      &:last-child {
        border-bottom: 1px solid palette(grey, light);

        @include mq(small) {
          border-bottom-color: transparent;
        }
      }

      &:first-child {
        padding: em(20px) em(10px);

        @include mq(small) {
          padding: em(8px) em(10px); 
        }
      }

      &:nth-child(2) {
        padding-top: em(20px);

        @include mq(small) {
          padding: em(8px) em(10px); 
        }
      }
      
      &:last-child {
        padding-bottom: em(20px);

        @include mq(small) {
          padding: em(8px) em(10px); 
        }
      }

      a {
        border-bottom: none;
        color: palette(grey, x-dark);

        &:hover {
          color: $color-primary;
        }
        &:active {
          color: $color-accent;
        }

      }

      &:first-child {
        a {
          font-weight: $font-weight--ultra-bold;
        }
      }

      @include mq(small) {
        @include flex(0 150px);
      }
    }
  }

  @include e(content) {
    // width: 100%;
    // float: right;
    h4 {
      margin-bottom: 0;
    }
    
  }


  @include e(shelf) {
    overflow: hidden;
    position: relative;

  }
}

.books{
  @include flexbox();
  position: relative;
  align-items: baseline;
  margin: 0;


  li {
    @include flex(0 170px);
    cursor: pointer;
    -webkit-backface-visibility: hidden;

    div {
      position: relative;

      -webkit-transition: -webkit-transform 0.3s ease-in-out;
         -moz-transition:    -moz-transform 0.3s ease-in-out;
           -o-transition:      -o-transform 0.3s ease-in-out;
          -ms-transition:     -ms-transform 0.3s ease-in-out; 
              transition:         transform 0.3s ease-in-out;

      img {
        margin: 0;
      }
    }

    h6 {
      text-align: center;
      font-size: em(12px);
      font-weight: $font-weight--light;
      padding: 0 em(2px);
    }

    /* Hover Style for single item: scale up */
    &.active div{
      -webkit-transform: scale(1.08) translateY(-5px);
         -moz-transform: scale(1.08) translateY(-5px);
           -o-transform: scale(1.08) translateY(-5px);
          -ms-transform: scale(1.08) translateY(-5px);
              transform: scale(1.08) translateY(-5px);
      z-index: 100; 
    }
  }
}


.sliderarrow {
  position: absolute;
  font-size: 270%;
  font-weight: $font-weight--bold;
  top: em(55px);
  color: $color-primary;
  background: $white;
  opacity: 0.9;
  padding: em(5px) em(3px);
  z-index: 200;
  display: block;
  cursor: pointer;

  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;

  &--left {
    border-radius: 0 $br--default $br--default 0;
  }

  &--right {
    right: 0;
    border-radius: $br--default 0 0 $br--default;
  }

  &:hover {
    color: $color-accent;
    opacity: 1;
  }
}


.single {
  .book-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: em(30px);
  }
  .book-description {
    margin-top: em(16px);
  }
}

.font-weight--thin {
  font-weight: 100;
  color: palette(grey, x-dark);
}


.sub-note {
  font-size: 80%;
  font-weight: $font-weight--thin;
  text-transform: none;
  letter-spacing: normal;
  border-bottom-width: 2px;
  transition: border-bottom-width 200ms;
  &:hover {
    border-bottom-width: 1px;   
    transition: border-bottom-width 500ms; 
  }
}


.category {
  @include e(header) {
    @include flexbox();
    flex-flow: row wrap;
    justify-content: space-between;

    @include e(item) {
      @include m(title) {
        text-transform: capitalize;
        margin-top: em(15px);

      }

      @include m(option) {
        margin-top: em(45px);
        select {
          float: right;
        }
      }
    }
  }

  @include e(books) {
    @include flexbox();
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-around;

    .book--full {
      @include flex(0 600px);

      

      // width: 50%;
      // @extend %book;
 
      // justify-content: space-between;
      // text-align: left;


      @include e(item) {
        @include m(img) {
          width: 20%;
          float: left;

          img {
            padding: em(5px);
          }

          
        }   


        @include m(description) {
          width: 80%;
          float: right;

          h4, h6 {
            margin-top: 0;
            padding: 0 em(5px);
          }
          h6 {
            font-weight:$font-weight--thin;
          }
        }
      }



    }
  }
}