// ==========================================================================
// Base Styles
// ==========================================================================

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: palette(grey);
  font-size: $base__font-size;
  font-family: $font-family--secondary;
  line-height: ($base__line/$base__font-size);
  height: 100%;
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}


// Text

h1 {
  @extend %hdln-prim;
}

h2 {
  @extend %hdln-sec;
}

h3 {
  font-size: em(18px);
}

h4 {
  margin-top: em(22px, 14px);
  margin-bottom: em(18px, 14px);
  color: palette(grey);
  text-transform: uppercase;
  letter-spacing: $letter-space;
  font-family: $font-family--accent;
  font-weight: $font-weight--medium;
  font-size: em(16px);
}

h5 {
  margin: 0;
  font-family: $font-family--accent;
  font-size: em(16px);
  text-transform: uppercase;
  font-weight: 400;
}

h6 {
  font-family: $font-family--accent;
  font-size: em(14px);
  margin: 0;
}

a { 
  text-decoration: none;
  color: palette(grey, dark);
  text-shadow: inherit;
  border-bottom: 4px solid rgba($color-primary, 0.5);
  font-weight: $font-weight--medium;

  &:hover,
  &:active {
    border-bottom: 2px solid rgba($color-primary, 0.5);
    cursor: pointer;
  }
}

p {
  margin: 0 0 em(30px, 18px);
  font-weight: $font-weight--light;
  font-size: em(16px);
  line-height: (24px/16px);
}

blockquote {
  @media (min-width: 769px) {
    margin: em(32px, 24px) 0;
    padding: 0 0 0 5%;
    border-left: em(8px, 24px) solid palette(grey, xx-light); 
    font-size: em(24px);
  }
  font-weight: $font-weight--light;
  font-style : italic;
  font-size : em(20px);
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Images

img {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
}

// Form elements

input, 
textarea {
  display: block;
  padding: 15px;
  width: 100%; 
  outline: 0;
  border: 0;
}

input:focus, 
textarea:focus {
  transition: $trns_duration;
}

// Button

button {
  outline: 0;
}

// Layout

footer {
  border-top: 1px solid palette(grey, xx-light);
  p {
    font-size: em(16px);
    margin-top: em(22px, 16px);
  }
}