.header {
  position: fixed;
  top: 0;
  background: palette(grey, dark);
  z-index: 1000;
  padding-top: em(10px);
  width: 100%;
  // color: palette(grey, dark);
  color: $white;

  .grid {
    border-bottom: 2px solid transparent;
    transition: all 300ms ease-in;
  }
  // transition: all 0.5s ease;

  .site-logo {
    display: block;
    float: left;
    font-size: em(40px);
    font-family: $font-family--primary;
    transition: all 0.5s ease;
  }

  &-menu {
    text-align: right;
    // padding-top: em(13px);

    @include e(item) {
      @extend %nav-item-horz;
      width: em(65px);

      &:not(:first-child) {
        padding-top: em(13px);
        margin-top: em(13px);
      }
      

      &:first-child {
        width: em(350px);
        position: relative;
        top: -10px;
      }

      .icn {
        &:hover {
          // color: $color-primary;
          font-weight: $font-weight--bold;
        }
        &:active {
          font-weight: $font-weight--bold;
          // color: $color-accent;
        }
      }
    }
  }
}