// ==========================================================================
// Nav
// ==========================================================================

.nav {
	margin-bottom: em(30px);
  margin-top: 10%;
  height: 80%;
  background: $color-primary;
  // background: palette(grey);
  padding-top: em(20px);
  padding-bottom: em(20px);
  @include transform(translateX(100%) skewX(20deg));
  box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);

  @include mq(medium) {
    padding-top: em(40px);
    padding-bottom: em(40px);
  }
  
  @include e(item) {
    a {
      @extend %nav-item-link;
      &:hover {
        @extend %nav-item-on;
      }
    }
    
    @include m(current) {
      a {
        @extend %nav-item-link;
        @extend %nav-item-on;
      }    
    }
    
  }

  &-animated {
    @include prefixed(animation-name, "translateSkewRightIn");
    @include prefixed(animation-duration, ".5s");
    @include prefixed(animation-delay, ".2s");
    @include prefixed(animation-timing-function, "ease-in-out");
    @include prefixed(animation-fill-mode, "forwards");
    @include prefixed(animation-direction, "normal");
  }
}