$tl: 0.6s; // transition length
$search-icon--size: em(40px);

.search-close-toggle {
  background: transparent;
  outline: none;
  border: none;
  @include img-replace('collection-icon/cross.png', 15px, 15px);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: em(15px);
  display: none;


}

.search-box {
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: $search-icon--size;
  height: $search-icon--size;
  float: right;
  cursor: pointer;
  background: palette(grey, dark);
  @include img-replace('collection-icon/search.png', 40px, 40px);
  background-position: left;
  border-bottom: 1px solid transparent;
  color: rgba($white, .8);

  &:focus {
    transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-bottom $tl;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 em(18px) 0 ($search-icon--size - em(3px));
    cursor: text;
    width: 350px;
    height: $search-icon--size;
    border-bottom: 1px solid $white;

    & + .search-close-toggle {
      display: block;
    }

  }
  &:not(:focus) {    
    text-indent:-5000px;    
  } // for more-graceful falling back (:not browsers likely support indent)
}

#search-submit {
  position: relative;left: -5000px;
  width: 0;
  height: 0;
  padding: 0;
}


